@fontFamily1 : 'Roboto',
sans-serif;
@fontFamily2 : 'Roboto Slab',
serif;

@textColor : white;

@mainColor : rgba(3, 169, 244, 1);
@color2    : rgba(0, 100, 148, 1);
@color3    : rgba(36, 123, 160, 1);
@color4    : rgba(20, 92, 158, 1);
@color5    : rgba(19, 41, 61, 1);

@linkColor  : black;
@rippleColor: rgb(14, 57, 100);

@shadowColor1 : rgba(0, 0, 0, 0.4);
@shadowColor2 : rgba(0, 0, 0, 0.2);

* {
    margin : 0;
    padding: 0;
}

html {
    font-size  : 100%;
    color      : @color5;
    font-family: @fontFamily1;
}

h1 {
    font-size  : 1.8rem;
    font-family: @fontFamily2;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
}

a {
    color          : @linkColor;
    text-decoration: none;
}

header {
    height                  : 5rem;
    width                   : 100%;
    display                 : grid;
    grid-template-columns   : auto auto 20%;
    box-shadow              : 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index                 : 10;
    position                : relative;
    background-color        : white;
    // background-color     : rgb(240, 240, 240);
}

.logo {
    display    : grid;
    align-self : center;
    grid-column: 1 / span 1;
    height     : 2rem;
    margin-left: 0.8rem;
    background : url("../img/birkabo_logo.svg") no-repeat;
}

#sideMenuButton {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    grid-column    : 3 / span 1;

    .material-icons {
        font-size: 1.4rem;
    }
}

main {
    // background-color   : @mainColor;
    // background-color   : rgb(243, 243, 243);
    background-color      : white;
}

footer {
    color      : @textColor;
    text-align : center;
    padding-top: 2rem;
}










// 
// 
// INDEX
// 
// 










.welcomeImg {
    min-height     : 30vh;
    padding        : 0 0.5rem 0 0.5rem;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    background     : url("../img/VR/ViktorRydbergsgatanMain.jpg") center no-repeat;
    background-size: cover;
    position       : relative;
    color          : @textColor;
}

.welcomeText {
    color      : @color4;
    text-align : center;
    width      : 100%;
    text-shadow: 1px 1px 1px black;
    margin     : 1rem 0 0 0;
}

.overlay {
    position: relative;

    &::before {
        position        : absolute;
        width           : 100%;
        height          : 100%;
        content         : " ";
        top             : 0;
        left            : 0;
        z-index         : 0;
        background-color: @shadowColor1;
        display         : block;
    }
}

.title {
    h1 {
        text-align: center;
        z-index   : 10;
    }

    p {
        width     : 90%;
        margin    : 1.2rem;
        text-align: center;
        z-index   : 10;
    }
}

.navButtons {
    padding           : 2rem 0 2rem 0;
    display           : grid;
    grid-template-rows: repeat(5, 5em);
    grid-row-gap      : 2em;
    justify-items     : center;
}

.navButton {
    width           : 85%;
    background-color: @mainColor;
    box-shadow      : 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-left     : solid 8px #00F764;
    border-radius   : 5px;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    font-size       : 1.2rem;
    font-weight     : 700;
    color           : @textColor;
    text-shadow     : 1px 1px 1px black;
    text-transform  : uppercase;
    overflow        : hidden;
    position        : relative;

    .material-icons {
        margin: 0 1.2rem 0 1.2rem;
    }

    .ripple {
        border-radius   : 50%;
        position        : absolute;
        background-color: @rippleColor;
        transform       : scale(0);
        animation       : ripple 0.6s linear;
    }

    @keyframes ripple {
        to {
            transform: scale(2.5);
            opacity  : 0;
        }
    }
}










// 
// 
// OUR ESTATES
// 
// 










.ourEstatesMenu {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    width           : 100%;
    background-color: white;
    height          : 8rem;
}

.ourEstatesMenuItem {
    height               : 33%;
    width                : 100%;
    display              : grid;
    grid-template-columns: 80% 10% 10%;

    h3 {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        padding-left   : 0.5rem;
    }

    .material-icons {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        grid-column    : 3;
    }
}

.ourEstatesMenuItem.selected {
    color: @mainColor;
}

.estates .hidden {
    display: none;
}

.estates .selected {
    min-height: 40rem;
    width     : 100%;
    text-align: center;

    h1 {
        display     : inline-block;
        justify-self: center;
        align-self  : center;
        color       : @textColor;
        text-shadow : 1px 1px 1px black;
        margin      : 1rem 0 1rem 0;
    }

    // img {
    //     display        : grid;
    //     justify-self   : center;
    //     align-self     : center;
    //     // width       : 90%;
    //     height         : 170px;
    //     width          : 300px;
    //     box-shadow     : 2px 2px 5px rgba(0, 0, 0, 0.5);
    // }    

    .text {


        h3 {
            color      : @textColor;
            text-shadow: 1px 1px 1px black;
            margin     : 1rem 0 1rem 0;
        }

        p {
            font-size  : 0.8rem;
            text-align : justify;
            line-height: 1.2rem;
            padding    : 0.8rem;
        }
    }
}

footer {
    bottom          : 0;
    height          : 20rem;
    width           : 100%;
    background-color: @color5;
}